<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div id="container">
            <div id="navbar">
                <a href="/" id="nav-title"><h1>myJobs</h1></a>
                <div><a href="/login">Login</a></div>
            </div>
            {{{body}}}
            {{!-- <div id="footer">
                <p>2022 Olegs Maklecovs</p>
            </div> --}}
        </div>
    </body>
</html>