<main id="index">
    <h3>Search for jobs</h3>
    <form action="/list" method="get">
        <input type="text" name="job_title" size="50">
        <select name="city">
            <option value="London">London</option>
            <option value="Birmingham">Birmingham</option>
            <option value="Manchester">Manchester</option>
            <option value="Cambridge">Cambridge</option>
        </select>
        <input type="submit" value="Search">
    </form>
</main>