<div id="content-job">
    <div id="job-title">
        <h2>Job title</h2>
        <span class="date">02/01/2022</span>
    </div>
    <div id="job-details">
        <span>Google</span>
        <span>London</span>
    </div>
    <div id="job-body">
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt, unde aperiam harum pariatur quas, et necessitatibus odit facere hic ipsam velit! Ipsam, et. Et vero maiores, reiciendis perspiciatis qui laborum dolores ut commodi. Dolorum laudantium ea quo repellendus illum? Earum.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio provident atque libero reprehenderit sit voluptas vitae ad eos! Repellendus, voluptatibus!
        </p>
    </div>
    <div>
        <a href="/apply" class="apply-btn">Apply</a>
    </div>
</div>