<div id="content-jobs">
    <div>
        <form action="/jobs" method="get">
            <input type="text" name="search-query" size="40">
            {{!-- Cities will be pulled from database --}}
            <select name="city">
                <option value="London">London</option>
                <option value="Birmingham">Birmingham</option>
                <option value="Manchester">Manchester</option>
                <option value="Cambridge">Cambridge</option>
            </select>
            <input type="submit" value="Search">
        </form>
    </div>
    {{!-- Jobs will be pulled from database --}}
    {{!-- Correct links will be generated --}}
    <div class="jobs-item">
        <a href="/job" class="job-item-title">Lorem ipsum dolor</a><br>
        <span>Google</span>
        <span>London</span>
        <span class="date">22/12/2021</span>
    </div>
    <div class="jobs-item">
        <a href="/job" class="job-item-title">Sit amet</a><br>
        <span>Facebook</span>
        <span>Manchester</span>
        <span class="date">15/10/2021</span>
    </div>
    <div class="jobs-item">
        <a href="/job" class="job-item-title">Consectetur adipisicing</a><br>
        <span>Amazon</span>
        <span>London</span>
        <span class="date">31/12/2021</span>
    </div>
    <div class="jobs-item">
        <a href="/job" class="job-item-title">Lorem ipsum dolor</a><br>
        <span>Netflix</span>
        <span>Cambridge</span>
        <span class="date">1/1/2022</span>
    </div>
</div>