<main id="login">
    <h3>Employer</h3>
    <form action="/employer" method="post">
        <label for="email">Email</label>
        <input type="text" name="email" size="26">
        <label for="password">Password</label>
        <input type="password" name="password" size="26">
        <input type="submit" value="Login">
    </form>
    <a href="/register-employer">Register</a>
</main>