<main id="login">
    <form action="/login" method="post">
        <label for="email">Email</label>
        <input type="text" name="email" size="26">
        <label for="password">Password</label>
        <input type="password" name="password" size="26">
        <input type="submit" value="Login">
    </form>
    <a href="/register">Register as job seeker</a>
    <a href="/register-employer">Register as employer</a>
</main>