<div id="content-login">
    <form action="/login" method="post">
        <label for="email">Email</label><br>
        <input type="text" name="email" size="30"><br>
        <label for="password">Password</label><br>
        <input type="password" name="password" size="30"><br>
        <input type="submit" value="Login">
    </form>
</div>