<main id="profile">
    <aside>
        <div><a href="/profile">Profile</a></div>
        <div><a href="/saved">Saved jobs</a></div>
        <div><a href="/applied">Applied jobs</a></div>
    </aside>
    <article>
        <h3>Profile</h3>
        <p>Name: John Doe</p>
        <p>Email: john@gmail.com</p>
        <h3>Change password</h3>
        <form action="/profile" method="post">
            <label for="password">New password</label>
            <input type="password" name="password" size="26">
            <label for="confirmpassword">Confirm new password</label>
            <input type="password" name="confirmpassword" size="26">
            <input type="submit" value="Submit">
        </form>
    </article>
</main>