<main id="profile">
    <aside>
        <div><a href="/profile">Profile</a></div>
        <div><a href="/posted">Posted jobs</a></div>
        <div><a href="/applicants">Applicants</a></div>
    </aside>
    <section>
        <h2>Profile</h2>
        <p>Company name: Google</p>
        <p>Email: google@gmail.com</p>
        <h2>Change password</h2>
        <form action="/profile" method="post">
            <label for="password">New password</label>
            <input type="password" name="password" size="26">
            <label for="confirmpassword">Confirm new password</label>
            <input type="password" name="confirmpassword" size="26">
            <input type="submit" value="Submit">
        </form>
    </section>
</main>