<main id="register">
    <h3>Register as employer</h3>
    <form action="/register-employer" method="post">
        <label for="companyname">Company name</label>
        <input type="text" name="companyname" size="26">
        <label for="email">Email</label>
        <input type="text" name="email" size="26">
        <label for="password">Password</label>
        <input type="password" name="password" size="26">
        <label for="confirmpassword">Confirm password</label>
        <input type="password" name="confirmpassword" size="26">
        <input type="submit" value="Register">
    </form>
</main>