/* Accent colour: #ff8000 */

body {
    font-family: sans-serif;
}

/* Links */
a {
    color: #ff8000;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
#nav-title {
    color: #000;
    text-decoration: none;
}

/* Forms */
input[type=text], input[type=password] {
    padding: 0.4em;
    border: 1px #333 solid;
    border-radius: 0.2em;
}
input[type=submit] {
    padding: 0.5em;
    border: none;
    background-color: #ff8000;
    color: #fff;
    border-radius: 0.2em;
}
input[type=submit]:hover {
    background-color: #db6e00;
    cursor: pointer;
}

#container {
    width: 60%;
    margin: auto;
}

/* Navigation bar */
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
#navbar h1 {
    display: inline;
}

/* Footer */
/* #footer {
    text-align: center;
    margin-top: 4em;
} */

/* Landing page */
#content-index {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

/* Login form */
#content-login {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}
#content-login form * {
    margin-bottom: 1.2em;
}