/* Accent colour: #ff8000 */

body {
    font: 1em sans-serif;
    width: 70%;
    margin: auto;
}

/* Links */
a {
    color: #ff8000;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
#nav-title {
    color: #000;
    text-decoration: none;
}

/* Forms */
input, select {
    font: 1em sans-serif;
}
input[type=submit] {
    border: none;
    background: #ff8000;
    color: #fff;
    padding: 0.3em 1em;
    border-radius: 0.2em;
}
input[type=submit]:hover {
    cursor: pointer;
    background: #e47200;
}
input[type=text], input[type=password], select {
    border: 1px solid #333;
    border-radius: 0.2em;
    padding: 0.2em;
}

/* Navigation bar */
#nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 1em;
}

/* Landing page */
#index {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

/* Login form */
#login {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}
#login form {
    display: grid;
    grid-template-columns: 1fr;
}
#login form *:not(label) {
    margin-bottom: 0.8em;
}

/* Jobs list */
#list {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.8em;
}
.item {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
    grid-gap: 0.4em;
    align-items: center;
}
.company {
    color: #777;
    font-size: 0.8em;
}

/* Job screen */
#job {
    margin-top: 1em;
    display: grid;
    grid-template-columns: 1fr;
}
#job article {
    margin-bottom: 1em;
}
#job input[type=file] {
    margin-bottom: 1em;
}