<main id="profile">
    <aside>
        {{#each links}}
            <div><a href="{{this.link}}">{{this.text}}</a></div>
        {{/each}}
    </aside>
    <section class="profile-jobs-list">
        <h2>Applicants</h2>
        <div class="item">
            <div>
                <span>John Doe</span><br>
                <span class="company">Software Developer</span>
            </div>
            <a href="/download-cv">CV</a>
            <span>03/01/2022</span>
        </div>
        <div class="item">
            <div>
                <span>Rick Grimes</span><br>
                <span class="company">Warehouse Worker</span>
            </div>
            <a href="/download-cv">CV</a>
            <span>03/01/2022</span>
        </div>
    </section>
</main>