<main id="profile">
    <aside>
        <div><a href="/profile">Profile</a></div>
        <div><a href="/saved">Saved jobs</a></div>
        <div><a href="/applied">Applied jobs</a></div>
    </aside>
    <section class="profile-jobs-list">
        <h2>Applied jobs</h2>
        <div class="item">
            <div>
                <a href="/job">Software Developer</a><br>
                <span class="company">Google</span>
            </div>
            <span>London</span>
            <span>03/01/2022</span>
        </div>
        <div class="item">
            <div>
                <a href="/job">Warehouse Worker</a><br>
                <span class="company">Amazon</span>
            </div>
            <span>Manchester</span>
            <span>11/01/2022</span>
        </div>
    </section>
</main>