<main class="index">
    <h2>Search for jobs</h2>
    <form action="/list" method="get" class="search">
        <input type="text" name="job_title">
        <select name="city">
            <option value="London">London</option>
            <option value="Birmingham">Birmingham</option>
            <option value="Manchester">Manchester</option>
            <option value="Cambridge">Cambridge</option>
        </select>
        <input type="submit" value="Search">
    </form>
</main>