<main class="list">
    <section>
        <form action="/jobs" method="get">
            <input type="text" name="search-query" size="40">
            <select name="city">
                <option value="London">London</option>
                <option value="Birmingham">Birmingham</option>
                <option value="Manchester">Manchester</option>
                <option value="Cambridge">Cambridge</option>
            </select>
            <input type="submit" value="Search">
        </form>
    </section>
    <section class="jobs-list">
        <div class="job-item">
            <div class="job-title">
                <a href="/job">Software Developer</a><br>
                <span class="company">Google</span>
            </div>
            <span class="job-city">London</span>
            <span class="job-date">03/01/2022</span>
        </div>
        <div class="job-item">
            <div class="job-title">
                <a href="/job">Software Developer</a><br>
                <span class="company">Google</span>
            </div>
            <span class="job-city">London</span>
            <span class="job-date">03/01/2022</span>
        </div>
        <div class="job-item">
            <div class="job-title">
                <a href="/job">Software Developer</a><br>
                <span class="company">Google</span>
            </div>
            <span class="job-city">London</span>
            <span class="job-date">03/01/2022</span>
        </div>
    </section>
</main>